<div class="container text-center">
  <h1>TODO</h1>

  <% @tasks.each do |task| %>
    <ul class="text-center" style="list-style-type: none;">
      <% if task.completed %>
        <li>
          [X] <%= link_to task.title, task_path(task) %> <br>
          <%= link_to "Delete", task_path(task),
          class: "btn btn-primary text-center",
          method: :delete,
          data: { confirm: "Are you sure?" } %>
          <br>
        </li>
      <% else %>
        <li>
          [--] <%= link_to task.title, task_path(task) %> <br>
          <%= link_to "Delete", task_path(task),
          class: "btn btn-primary text-center",
          method: :delete,
          data: { confirm: "Are you sure?" } %>
          <br>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to "add a task", tasks_new_path,
  class: "btn btn-primary text-center",
  style: "margin-left: 5vh; margin-top: 10vh;"%>

</div>

